In [1]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt

sun_df = pd.read_excel('sun_power.xlsx', skiprows=3)
sun_df.columns = [str(sun_df.iloc[0,i])+ '_' + str(sun_df.iloc[1,i]) for i in range(len(sun_df.columns))]

In [2]:
sun_df.head()

,nan_nan,TIME_nan,1_일사량,2_외기온도,3_모듈온도,4_총 전력(AC),5_DC전압,6_DC전류,7_DC전력,8_R상 전압,...,73_전압,74_전류,75_전압,76_전류,77_전압,78_전류,79_전압,80_전류,81_전압,82_전류
0,NaN,TIME,1,2,3,4,5,6,7,8,...,73,74,75,76,77,78,79,80,81,82
1,NaN,NaN,일사량,외기온도,모듈온도,총 전력(AC),DC전압,DC전류,DC전력,R상 전압,...,전압,전류,전압,전류,전압,전류,전압,전류,전압,전류
2,NaN,NaN,[W/m2],[℃],[℃],[kW],[V],[A],[kW],[V],...,[V],[A],[V],[A],[V],[A],[V],[A],[V],[A]
3,NaN,03-01 00:00:00,0,0.6,0.579175,0,5.24146,0,0,336.201,...,0,0,0,0,6.38384,0,6.36051,0,6.32388,0
4,NaN,03-01 00:15:00,0,0.6,0.5,0,5.71443,0,0,336.201,...,0,0,0,0,7.04444,0,7.03921,0,6.96225,0

In [3]:
sun_df = sun_df.drop(sun_df.columns[0], axis=1)

In [4]:
sun_df.head()

,TIME_nan,1_일사량,2_외기온도,3_모듈온도,4_총 전력(AC),5_DC전압,6_DC전류,7_DC전력,8_R상 전압,9_S상 전압,...,73_전압,74_전류,75_전압,76_전류,77_전압,78_전류,79_전압,80_전류,81_전압,82_전류
0,TIME,1,2,3,4,5,6,7,8,9,...,73,74,75,76,77,78,79,80,81,82
1,NaN,일사량,외기온도,모듈온도,총 전력(AC),DC전압,DC전류,DC전력,R상 전압,S상 전압,...,전압,전류,전압,전류,전압,전류,전압,전류,전압,전류
2,NaN,[W/m2],[℃],[℃],[kW],[V],[A],[kW],[V],[V],...,[V],[A],[V],[A],[V],[A],[V],[A],[V],[A]
3,03-01 00:00:00,0,0.6,0.579175,0,5.24146,0,0,336.201,333.922,...,0,0,0,0,6.38384,0,6.36051,0,6.32388,0
4,03-01 00:15:00,0,0.6,0.5,0,5.71443,0,0,336.201,332.229,...,0,0,0,0,7.04444,0,7.03921,0,6.96225,0

In [5]:
sun_df = sun_df.drop(sun_df.index[0:3])
sun_df.head()

,TIME_nan,1_일사량,2_외기온도,3_모듈온도,4_총 전력(AC),5_DC전압,6_DC전류,7_DC전력,8_R상 전압,9_S상 전압,...,73_전압,74_전류,75_전압,76_전류,77_전압,78_전류,79_전압,80_전류,81_전압,82_전류
3,03-01 00:00:00,0,0.6,0.579175,0,5.24146,0,0,336.201,333.922,...,0,0,0,0,6.38384,0,6.36051,0,6.32388,0
4,03-01 00:15:00,0,0.6,0.5,0,5.71443,0,0,336.201,332.229,...,0,0,0,0,7.04444,0,7.03921,0,6.96225,0
5,03-01 00:30:00,0,0.6,0.589008,0,6.48931,0,0,335.034,332.013,...,0,0,0,0,7.77166,0,7.79643,0,7.72711,0
6,03-01 00:45:00,0,0.519407,0.471353,0,5.78241,0,0,336.201,334.39,...,0,0,0,0,7.25147,0,7.23598,0,7.11249,0
7,03-01 01:00:00,0,0.322703,0.3,0,5.28564,0,0,336.201,334.3,...,0,0,0,0,6.49921,0,6.51747,0,6.50325,0

In [6]:
sun_df.rename(columns={sun_df.columns[0]:"일시"}, inplace=True)

In [7]:
sun_df.columns

Index(['일시', '1_일사량', '2_외기온도', '3_모듈온도', '4_총 전력(AC)', '5_DC전압', '6_DC전류',
       '7_DC전력', '8_R상 전압', '9_S상 전압', '10_T상 전압', '11_R상 전류', '12_S상 전류',
       '13_T상 전류', '14_AC전력', '15_전압', '16_전류', '17_전압', '18_전류', '19_전압',
       '20_전류', '21_전압', '22_전류', '23_전압', '24_전류', '25_전압', '26_전류', '27_전압',
       '28_전류', '29_전압', '30_전류', '31_전압', '32_전류', '33_전압', '34_전류', '35_전압',
       '36_전류', '37_전압', '38_전류', '39_전압', '40_전류', '41_전압', '42_전류', '43_전압',
       '44_전류', '45_전압', '46_전류', '47_DC전압', '48_DC전류', '49_DC전력', '50_R상 전압',
       '51_S상 전압', '52_T상 전압', '53_R상 전류', '54_S상 전류', '55_T상 전류', '56_AC전력',
       '57_전압', '58_전류', '59_전압', '60_전류', '61_전압', '62_전류', '63_전압', '64_전류',
       '65_전압', '66_전류', '67_전압', '68_전류', '69_전압', '70_전류', '71_전압', '72_전류',
       '73_전압', '74_전류', '75_전압', '76_전류', '77_전압', '78_전류', '79_전압', '80_전류',
       '81_전압', '82_전류'],
      dtype='object')

## 패널의 셀 이상치 검증(오토인코더)

    1. 인버터1, 인버터2 따로 돌려보기(너무 자료가 많으니)
    --인버터 1 : 15~46 // 인버터2 : 57~82
    
    2. 이상치 = |복원값-원래값| 
    --이상치 평균 구하기 
    --이상치 평균이 높은 셀은 고장났을 가능성이 높다
    --이상치 평균이 높은 셀자료를 빼고 발전량을 예측했을 때의 RMSE 구하기
    --모든 셀 자료로 발전량을 예측했을 때의 RMSE 값과 비교
    --셀자료를 제외했을 때 RMSE가 더 낮으면, 앞으로 이상치 높은 셀을 지우고 분석한다

In [8]:
# 인버터 1 : 15~46 // 인버터2 : 57~82

In [9]:
sun_df.head(1)

,일시,1_일사량,2_외기온도,3_모듈온도,4_총 전력(AC),5_DC전압,6_DC전류,7_DC전력,8_R상 전압,9_S상 전압,...,73_전압,74_전류,75_전압,76_전류,77_전압,78_전류,79_전압,80_전류,81_전압,82_전류
3,03-01 00:00:00,0,0.6,0.579175,0,5.24146,0,0,336.201,333.922,...,0,0,0,0,6.38384,0,6.36051,0,6.32388,0

In [10]:
import pandas as pd
import numpy as np 
import tensorflow as tf
from sklearn.cross_validation import train_test_split
import matplotlib.pyplot as plt
from sklearn.utils import shuffle
from sklearn.metrics import confusion_matrix
import seaborn as sns
import matplotlib.gridspec as gridspec
from sklearn.preprocessing import StandardScaler
from sklearn.manifold import TSNE
# from show_confusion_matrix import 
%matplotlib inline

C:\Users\user\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
C:\Users\user\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [11]:
sun_df.head(1)

,일시,1_일사량,2_외기온도,3_모듈온도,4_총 전력(AC),5_DC전압,6_DC전류,7_DC전력,8_R상 전압,9_S상 전압,...,73_전압,74_전류,75_전압,76_전류,77_전압,78_전류,79_전압,80_전류,81_전압,82_전류
3,03-01 00:00:00,0,0.6,0.579175,0,5.24146,0,0,336.201,333.922,...,0,0,0,0,6.38384,0,6.36051,0,6.32388,0

In [12]:
sun_df.drop('일시', axis=1, inplace=True)

In [13]:
sun_df.head(1)

,1_일사량,2_외기온도,3_모듈온도,4_총 전력(AC),5_DC전압,6_DC전류,7_DC전력,8_R상 전압,9_S상 전압,10_T상 전압,...,73_전압,74_전류,75_전압,76_전류,77_전압,78_전류,79_전압,80_전류,81_전압,82_전류
3,0,0.6,0.579175,0,5.24146,0,0,336.201,333.922,332.048,...,0,0,0,0,6.38384,0,6.36051,0,6.32388,0

### Scale 하지 않고, 실제 데이터 크기로 보자

학습이 안되네. 스케일 - 학습 - 비교 - 원래값 복원(inverse)

In [14]:
from sklearn.preprocessing import MinMaxScaler

In [15]:
scaler = MinMaxScaler()
sun_df_s= scaler.fit_transform(sun_df)

In [16]:
df = pd.DataFrame(sun_df_s, columns=sun_df.columns)
df.head()

,1_일사량,2_외기온도,3_모듈온도,4_총 전력(AC),5_DC전압,6_DC전류,7_DC전력,8_R상 전압,9_S상 전압,10_T상 전압,...,73_전압,74_전류,75_전압,76_전류,77_전압,78_전류,79_전압,80_전류,81_전압,82_전류
0,0.0,0.213080,0.198843,0.0,0.005740,0.0,0.0,0.491887,0.595110,0.461927,...,0.0,0.0,0.0,0.0,0.008478,0.0,0.008426,0.0,0.008351,0.0
1,0.0,0.213080,0.197264,0.0,0.006467,0.0,0.0,0.491887,0.421208,0.634430,...,0.0,0.0,0.0,0.0,0.009355,0.0,0.009325,0.0,0.009194,0.0
2,0.0,0.213080,0.199039,0.0,0.007659,0.0,0.0,0.389338,0.399079,0.618277,...,0.0,0.0,0.0,0.0,0.010321,0.0,0.010329,0.0,0.010204,0.0
3,0.0,0.210728,0.196692,0.0,0.006572,0.0,0.0,0.491887,0.643170,0.461838,...,0.0,0.0,0.0,0.0,0.009630,0.0,0.009586,0.0,0.009392,0.0
4,0.0,0.204987,0.193275,0.0,0.005808,0.0,0.0,0.491887,0.633898,0.475093,...,0.0,0.0,0.0,0.0,0.008631,0.0,0.008634,0.0,0.008588,0.0

In [17]:
df.columns

Index(['1_일사량', '2_외기온도', '3_모듈온도', '4_총 전력(AC)', '5_DC전압', '6_DC전류', '7_DC전력',
       '8_R상 전압', '9_S상 전압', '10_T상 전압', '11_R상 전류', '12_S상 전류', '13_T상 전류',
       '14_AC전력', '15_전압', '16_전류', '17_전압', '18_전류', '19_전압', '20_전류',
       '21_전압', '22_전류', '23_전압', '24_전류', '25_전압', '26_전류', '27_전압', '28_전류',
       '29_전압', '30_전류', '31_전압', '32_전류', '33_전압', '34_전류', '35_전압', '36_전류',
       '37_전압', '38_전류', '39_전압', '40_전류', '41_전압', '42_전류', '43_전압', '44_전류',
       '45_전압', '46_전류', '47_DC전압', '48_DC전류', '49_DC전력', '50_R상 전압',
       '51_S상 전압', '52_T상 전압', '53_R상 전류', '54_S상 전류', '55_T상 전류', '56_AC전력',
       '57_전압', '58_전류', '59_전압', '60_전류', '61_전압', '62_전류', '63_전압', '64_전류',
       '65_전압', '66_전류', '67_전압', '68_전류', '69_전압', '70_전류', '71_전압', '72_전류',
       '73_전압', '74_전류', '75_전압', '76_전류', '77_전압', '78_전류', '79_전압', '80_전류',
       '81_전압', '82_전류'],
      dtype='object')

## 인버터 분할(1, 2) ---> 하나로 통일(df_invert)

In [18]:
sun_df.head()

,1_일사량,2_외기온도,3_모듈온도,4_총 전력(AC),5_DC전압,6_DC전류,7_DC전력,8_R상 전압,9_S상 전압,10_T상 전압,...,73_전압,74_전류,75_전압,76_전류,77_전압,78_전류,79_전압,80_전류,81_전압,82_전류
3,0,0.6,0.579175,0,5.24146,0,0,336.201,333.922,332.048,...,0,0,0,0,6.38384,0,6.36051,0,6.32388,0
4,0,0.6,0.5,0,5.71443,0,0,336.201,332.229,333.885,...,0,0,0,0,7.04444,0,7.03921,0,6.96225,0
5,0,0.6,0.589008,0,6.48931,0,0,335.034,332.013,333.713,...,0,0,0,0,7.77166,0,7.79643,0,7.72711,0
6,0,0.519407,0.471353,0,5.78241,0,0,336.201,334.39,332.047,...,0,0,0,0,7.25147,0,7.23598,0,7.11249,0
7,0,0.322703,0.3,0,5.28564,0,0,336.201,334.3,332.189,...,0,0,0,0,6.49921,0,6.51747,0,6.50325,0

In [19]:
# 인버터 1 : 15~46 // 인버터2 : 57~82

df_invert= df[['15_전압', '16_전류', '17_전압', '18_전류', '19_전압', '20_전류',
       '21_전압', '22_전류', '23_전압', '24_전류', '25_전압', '26_전류', '27_전압', '28_전류',
       '29_전압', '30_전류', '31_전압', '32_전류', '33_전압', '34_전류', '35_전압', '36_전류',
       '37_전압', '38_전류', '39_전압', '40_전류', '41_전압', '42_전류', '43_전압', '44_전류',
       '45_전압', '46_전류', '57_전압', '58_전류', '59_전압', '60_전류', '61_전압', '62_전류', '63_전압', '64_전류',
       '65_전압', '66_전류', '67_전압', '68_전류', '69_전압', '70_전류', '71_전압', '72_전류',
       '73_전압', '74_전류', '75_전압', '76_전류', '77_전압', '78_전류', '79_전압', '80_전류',
       '81_전압', '82_전류']]

In [20]:
df_invert.head()

,15_전압,16_전류,17_전압,18_전류,19_전압,20_전류,21_전압,22_전류,23_전압,24_전류,...,73_전압,74_전류,75_전압,76_전류,77_전압,78_전류,79_전압,80_전류,81_전압,82_전류
0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.018762,0.0,...,0.0,0.0,0.0,0.0,0.008478,0.0,0.008426,0.0,0.008351,0.0
1,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.021483,0.0,...,0.0,0.0,0.0,0.0,0.009355,0.0,0.009325,0.0,0.009194,0.0
2,0.000487,0.0,0.000858,0.0,0.000478,0.0,0.000561,0.0,0.025145,0.0,...,0.0,0.0,0.0,0.0,0.010321,0.0,0.010329,0.0,0.010204,0.0
3,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.020928,0.0,...,0.0,0.0,0.0,0.0,0.009630,0.0,0.009586,0.0,0.009392,0.0
4,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.019382,0.0,...,0.0,0.0,0.0,0.0,0.008631,0.0,0.008634,0.0,0.008588,0.0

In [21]:
len(df_invert)

576

In [22]:
X_train, X_test = train_test_split(df_invert, test_size=0.2, random_state=42)

In [23]:
X_train.shape, X_test.shape

((460, 58), (116, 58))

In [24]:
from keras.layers import Input, Dense
from keras.models import Model, load_model
from keras import regularizers
from keras.callbacks import ModelCheckpoint, TensorBoard

Using TensorFlow backend.

## 오토인코더

데이터 샘플이 너무 적어서 효과가 없을 것 같다. acc가 너무 작다

In [25]:
X_train.head(1)

,15_전압,16_전류,17_전압,18_전류,19_전압,20_전류,21_전압,22_전류,23_전압,24_전류,...,73_전압,74_전류,75_전압,76_전류,77_전압,78_전류,79_전압,80_전류,81_전압,82_전류
437,0.917707,0.366565,0.920654,0.371191,0.904629,0.373137,0.901281,0.373188,0.935911,0.0,...,0.917931,0.365833,0.920599,0.366514,0.93639,0.368168,0.931642,0.368941,0.933742,0.369421

In [26]:
X_test.head(1)

,15_전압,16_전류,17_전압,18_전류,19_전압,20_전류,21_전압,22_전류,23_전압,24_전류,...,73_전압,74_전류,75_전압,76_전류,77_전압,78_전류,79_전압,80_전류,81_전압,82_전류
234,0.915489,0.60903,0.917651,0.612972,0.909722,0.613113,0.905349,0.610211,0.948883,0.0,...,0.913421,0.602099,0.911665,0.61516,0.921635,0.618066,0.917662,0.621896,0.918492,0.6127

In [27]:
X_train.shape[1]

58

In [28]:
input_dim = X_train.shape[1]
encoding_dim = 58


input_layer = Input(shape=(input_dim, ))
encoder = Dense(encoding_dim, activation="sigmoid", activity_regularizer=regularizers.l1(10e-5))(input_layer)
# encoder = Dense(int(encoding_dim / 2), activation="sigmoid")(encoder) # 차원을 축소해야 하기 때문에, Dense를 줄여야 함
encoder = Dense(int(encoding_dim * 0.3), activation="sigmoid")(encoder) # 차원을 축소해야 하기 때문에, Dense를 줄여야 함

# decoder = Dense(int(encoding_dim / 2), activation='sigmoid')(encoder)
decoder = Dense(int(encoding_dim * 0.3), activation='sigmoid')(encoder)

# decoder = Dense(int(encoding_dim / 2), activation='sigmoid')(decoder) #왜 이게 안되는지!?
decoder = Dense(input_dim, activation='sigmoid')(decoder)


autoencoder = Model(inputs=input_layer, outputs=decoder)

In [29]:
nb_epoch = 200

batch_size = 5 ##Autoencoder 코드
autoencoder.compile(optimizer='adam', 
                    loss='mean_squared_error', 
                    metrics=['accuracy'])
checkpointer = ModelCheckpoint(filepath="model.h5",
                               verbose=0,
                               save_best_only=True)
tensorboard = TensorBoard(log_dir='./logs',
                          histogram_freq=0,
                          write_graph=True,
                          write_images=True)
history = autoencoder.fit(X_train, X_train,
                    epochs=nb_epoch,
                    batch_size=batch_size,
                    shuffle=True,
                    validation_data=(X_test, X_test),
                    verbose=2,
                    callbacks=[checkpointer, tensorboard]).history

Train on 460 samples, validate on 116 samples
Epoch 1/200
 - 0s - loss: 0.1849 - acc: 0.0065 - val_loss: 0.1609 - val_acc: 0.0000e+00
Epoch 2/200
 - 0s - loss: 0.1489 - acc: 0.1130 - val_loss: 0.1378 - val_acc: 0.4914
Epoch 3/200
 - 0s - loss: 0.1277 - acc: 0.4543 - val_loss: 0.1114 - val_acc: 0.4914
Epoch 4/200
 - 0s - loss: 0.0989 - acc: 0.3609 - val_loss: 0.0809 - val_acc: 0.4138
Epoch 5/200
 - 0s - loss: 0.0720 - acc: 0.3500 - val_loss: 0.0590 - val_acc: 0.4138
Epoch 6/200
 - 0s - loss: 0.0540 - acc: 0.3500 - val_loss: 0.0453 - val_acc: 0.4138
Epoch 7/200
 - 0s - loss: 0.0423 - acc: 0.3500 - val_loss: 0.0363 - val_acc: 0.4052
Epoch 8/200
 - 0s - loss: 0.0346 - acc: 0.3565 - val_loss: 0.0302 - val_acc: 0.4052
Epoch 9/200
 - 0s - loss: 0.0290 - acc: 0.1804 - val_loss: 0.0254 - val_acc: 0.4052
Epoch 10/200
 - 0s - loss: 0.0244 - acc: 0.2304 - val_loss: 0.0216 - val_acc: 0.0259
Epoch 11/200
 - 0s - loss: 0.0206 - acc: 0.0435 - val_loss: 0.0184 - val_acc: 0.0172
Epoch 12/200
 - 0s - loss: 0.0176 - acc: 0.0478 - val_loss: 0.0159 - val_acc: 0.0172
Epoch 13/200
 - 0s - loss: 0.0151 - acc: 0.0500 - val_loss: 0.0140 - val_acc: 0.0172
Epoch 14/200
 - 0s - loss: 0.0132 - acc: 0.0478 - val_loss: 0.0124 - val_acc: 0.0259
Epoch 15/200
 - 0s - loss: 0.0117 - acc: 0.0522 - val_loss: 0.0111 - val_acc: 0.0345
Epoch 16/200
 - 0s - loss: 0.0105 - acc: 0.0587 - val_loss: 0.0100 - val_acc: 0.0690
Epoch 17/200
 - 0s - loss: 0.0095 - acc: 0.0609 - val_loss: 0.0091 - val_acc: 0.0603
Epoch 18/200
 - 0s - loss: 0.0087 - acc: 0.0674 - val_loss: 0.0084 - val_acc: 0.0690
Epoch 19/200
 - 0s - loss: 0.0080 - acc: 0.2783 - val_loss: 0.0078 - val_acc: 0.4569
Epoch 20/200
 - 0s - loss: 0.0075 - acc: 0.3870 - val_loss: 0.0073 - val_acc: 0.4569
Epoch 21/200
 - 0s - loss: 0.0070 - acc: 0.4065 - val_loss: 0.0068 - val_acc: 0.4569
Epoch 22/200
 - 0s - loss: 0.0065 - acc: 0.4087 - val_loss: 0.0064 - val_acc: 0.4741
Epoch 23/200
 - 0s - loss: 0.0062 - acc: 0.4130 - val_loss: 0.0061 - val_acc: 0.4741
Epoch 24/200
 - 0s - loss: 0.0059 - acc: 0.4130 - val_loss: 0.0058 - val_acc: 0.4741
Epoch 25/200
 - 0s - loss: 0.0056 - acc: 0.4196 - val_loss: 0.0055 - val_acc: 0.4741
Epoch 26/200
 - 0s - loss: 0.0053 - acc: 0.4239 - val_loss: 0.0053 - val_acc: 0.4741
Epoch 27/200
 - 0s - loss: 0.0051 - acc: 0.4196 - val_loss: 0.0051 - val_acc: 0.4741
Epoch 28/200
 - 0s - loss: 0.0049 - acc: 0.4239 - val_loss: 0.0048 - val_acc: 0.4741
Epoch 29/200
 - 0s - loss: 0.0047 - acc: 0.4261 - val_loss: 0.0046 - val_acc: 0.4828
Epoch 30/200
 - 0s - loss: 0.0045 - acc: 0.4283 - val_loss: 0.0045 - val_acc: 0.4914
Epoch 31/200
 - 0s - loss: 0.0044 - acc: 0.4261 - val_loss: 0.0043 - val_acc: 0.4914
Epoch 32/200
 - 0s - loss: 0.0042 - acc: 0.4239 - val_loss: 0.0042 - val_acc: 0.4914
Epoch 33/200
 - 0s - loss: 0.0041 - acc: 0.4326 - val_loss: 0.0040 - val_acc: 0.4914
Epoch 34/200
 - 0s - loss: 0.0040 - acc: 0.4326 - val_loss: 0.0039 - val_acc: 0.5086
Epoch 35/200
 - 0s - loss: 0.0039 - acc: 0.4326 - val_loss: 0.0038 - val_acc: 0.5086
Epoch 36/200
 - 0s - loss: 0.0038 - acc: 0.4413 - val_loss: 0.0037 - val_acc: 0.5172
Epoch 37/200
 - 0s - loss: 0.0037 - acc: 0.4674 - val_loss: 0.0036 - val_acc: 0.5431
Epoch 38/200
 - 0s - loss: 0.0036 - acc: 0.4826 - val_loss: 0.0036 - val_acc: 0.5431
Epoch 39/200
 - 0s - loss: 0.0035 - acc: 0.4870 - val_loss: 0.0034 - val_acc: 0.5431
Epoch 40/200
 - 0s - loss: 0.0034 - acc: 0.4870 - val_loss: 0.0033 - val_acc: 0.5431
Epoch 41/200
 - 0s - loss: 0.0033 - acc: 0.4848 - val_loss: 0.0032 - val_acc: 0.5431
Epoch 42/200
 - 0s - loss: 0.0033 - acc: 0.4870 - val_loss: 0.0032 - val_acc: 0.5431
Epoch 43/200
 - 0s - loss: 0.0032 - acc: 0.4891 - val_loss: 0.0031 - val_acc: 0.5431
Epoch 44/200
 - 0s - loss: 0.0031 - acc: 0.4870 - val_loss: 0.0030 - val_acc: 0.5431
Epoch 45/200
 - 0s - loss: 0.0031 - acc: 0.4870 - val_loss: 0.0030 - val_acc: 0.5431
Epoch 46/200
 - 0s - loss: 0.0030 - acc: 0.4848 - val_loss: 0.0029 - val_acc: 0.5431
Epoch 47/200
 - 0s - loss: 0.0030 - acc: 0.4870 - val_loss: 0.0029 - val_acc: 0.5431
Epoch 48/200
 - 0s - loss: 0.0029 - acc: 0.4870 - val_loss: 0.0028 - val_acc: 0.5431
Epoch 49/200
 - 0s - loss: 0.0029 - acc: 0.4826 - val_loss: 0.0027 - val_acc: 0.5431
Epoch 50/200
 - 0s - loss: 0.0028 - acc: 0.4826 - val_loss: 0.0027 - val_acc: 0.5431
Epoch 51/200
 - 0s - loss: 0.0028 - acc: 0.4826 - val_loss: 0.0026 - val_acc: 0.5431
Epoch 52/200
 - 0s - loss: 0.0027 - acc: 0.4826 - val_loss: 0.0026 - val_acc: 0.5431
Epoch 53/200
 - 0s - loss: 0.0027 - acc: 0.4848 - val_loss: 0.0025 - val_acc: 0.5431
Epoch 54/200
 - 0s - loss: 0.0026 - acc: 0.4870 - val_loss: 0.0025 - val_acc: 0.5431
Epoch 55/200
 - 0s - loss: 0.0026 - acc: 0.4848 - val_loss: 0.0024 - val_acc: 0.5431
Epoch 56/200
 - 0s - loss: 0.0025 - acc: 0.4826 - val_loss: 0.0024 - val_acc: 0.5431
Epoch 57/200
 - 0s - loss: 0.0025 - acc: 0.4826 - val_loss: 0.0024 - val_acc: 0.5431
Epoch 58/200
 - 0s - loss: 0.0025 - acc: 0.4826 - val_loss: 0.0023 - val_acc: 0.5431
Epoch 59/200
 - 0s - loss: 0.0024 - acc: 0.4848 - val_loss: 0.0023 - val_acc: 0.5431
Epoch 60/200
 - 0s - loss: 0.0024 - acc: 0.4870 - val_loss: 0.0022 - val_acc: 0.5431
Epoch 61/200
 - 0s - loss: 0.0023 - acc: 0.4804 - val_loss: 0.0022 - val_acc: 0.5431
Epoch 62/200
 - 0s - loss: 0.0023 - acc: 0.4804 - val_loss: 0.0021 - val_acc: 0.5431
Epoch 63/200
 - 0s - loss: 0.0023 - acc: 0.4826 - val_loss: 0.0021 - val_acc: 0.5431
Epoch 64/200
 - 0s - loss: 0.0022 - acc: 0.4848 - val_loss: 0.0021 - val_acc: 0.5431
Epoch 65/200
 - 0s - loss: 0.0022 - acc: 0.4804 - val_loss: 0.0021 - val_acc: 0.5431
Epoch 66/200
 - 0s - loss: 0.0021 - acc: 0.4870 - val_loss: 0.0020 - val_acc: 0.5431
Epoch 67/200
 - 0s - loss: 0.0021 - acc: 0.4783 - val_loss: 0.0020 - val_acc: 0.5431
Epoch 68/200
 - 0s - loss: 0.0021 - acc: 0.4804 - val_loss: 0.0019 - val_acc: 0.5431
Epoch 69/200
 - 0s - loss: 0.0021 - acc: 0.4783 - val_loss: 0.0019 - val_acc: 0.5431
Epoch 70/200
 - 0s - loss: 0.0021 - acc: 0.4783 - val_loss: 0.0019 - val_acc: 0.5431
Epoch 71/200
 - 0s - loss: 0.0020 - acc: 0.4804 - val_loss: 0.0019 - val_acc: 0.5431
Epoch 72/200
 - 0s - loss: 0.0020 - acc: 0.4826 - val_loss: 0.0018 - val_acc: 0.5431
Epoch 73/200
 - 0s - loss: 0.0020 - acc: 0.4826 - val_loss: 0.0018 - val_acc: 0.5517
Epoch 74/200
 - 0s - loss: 0.0020 - acc: 0.4891 - val_loss: 0.0018 - val_acc: 0.5431
Epoch 75/200
 - 0s - loss: 0.0019 - acc: 0.4848 - val_loss: 0.0018 - val_acc: 0.5431
Epoch 76/200
 - 0s - loss: 0.0019 - acc: 0.4848 - val_loss: 0.0018 - val_acc: 0.5517
Epoch 77/200
 - 0s - loss: 0.0019 - acc: 0.4848 - val_loss: 0.0017 - val_acc: 0.5431
Epoch 78/200
 - 0s - loss: 0.0019 - acc: 0.4957 - val_loss: 0.0017 - val_acc: 0.5431
Epoch 79/200
 - 0s - loss: 0.0018 - acc: 0.4870 - val_loss: 0.0017 - val_acc: 0.5690
Epoch 80/200
 - 0s - loss: 0.0018 - acc: 0.4891 - val_loss: 0.0017 - val_acc: 0.5517
Epoch 81/200
 - 0s - loss: 0.0018 - acc: 0.4978 - val_loss: 0.0016 - val_acc: 0.5431
Epoch 82/200
 - 0s - loss: 0.0018 - acc: 0.5000 - val_loss: 0.0016 - val_acc: 0.5431
Epoch 83/200
 - 0s - loss: 0.0018 - acc: 0.4870 - val_loss: 0.0016 - val_acc: 0.5690
Epoch 84/200
 - 0s - loss: 0.0018 - acc: 0.4935 - val_loss: 0.0016 - val_acc: 0.5431
Epoch 85/200
 - 0s - loss: 0.0018 - acc: 0.4957 - val_loss: 0.0016 - val_acc: 0.5431
Epoch 86/200
 - 0s - loss: 0.0018 - acc: 0.4913 - val_loss: 0.0016 - val_acc: 0.5603
Epoch 87/200
 - 0s - loss: 0.0017 - acc: 0.4978 - val_loss: 0.0015 - val_acc: 0.5776
Epoch 88/200
 - 0s - loss: 0.0017 - acc: 0.4957 - val_loss: 0.0015 - val_acc: 0.5603
Epoch 89/200
 - 0s - loss: 0.0017 - acc: 0.4957 - val_loss: 0.0015 - val_acc: 0.5690
Epoch 90/200
 - 0s - loss: 0.0017 - acc: 0.4935 - val_loss: 0.0016 - val_acc: 0.5517
Epoch 91/200
 - 0s - loss: 0.0017 - acc: 0.4848 - val_loss: 0.0015 - val_acc: 0.5603
Epoch 92/200
 - 0s - loss: 0.0017 - acc: 0.5065 - val_loss: 0.0015 - val_acc: 0.5431
Epoch 93/200
 - 0s - loss: 0.0016 - acc: 0.5043 - val_loss: 0.0015 - val_acc: 0.5603
Epoch 94/200
 - 0s - loss: 0.0016 - acc: 0.5043 - val_loss: 0.0014 - val_acc: 0.5603
Epoch 95/200
 - 0s - loss: 0.0016 - acc: 0.5087 - val_loss: 0.0014 - val_acc: 0.5431
Epoch 96/200
 - 0s - loss: 0.0016 - acc: 0.5109 - val_loss: 0.0014 - val_acc: 0.5603

Epoch 97/200
 - 0s - loss: 0.0016 - acc: 0.5022 - val_loss: 0.0014 - val_acc: 0.5517
Epoch 98/200
 - 0s - loss: 0.0016 - acc: 0.5043 - val_loss: 0.0014 - val_acc: 0.5431
Epoch 99/200
 - 0s - loss: 0.0016 - acc: 0.5043 - val_loss: 0.0014 - val_acc: 0.5517
Epoch 100/200
 - 0s - loss: 0.0016 - acc: 0.5152 - val_loss: 0.0014 - val_acc: 0.5776
Epoch 101/200
 - 0s - loss: 0.0016 - acc: 0.5130 - val_loss: 0.0014 - val_acc: 0.5603
Epoch 102/200
 - 0s - loss: 0.0016 - acc: 0.5152 - val_loss: 0.0014 - val_acc: 0.5862
Epoch 103/200
 - 0s - loss: 0.0016 - acc: 0.5152 - val_loss: 0.0014 - val_acc: 0.5517
Epoch 104/200
 - 0s - loss: 0.0015 - acc: 0.5261 - val_loss: 0.0013 - val_acc: 0.5517
Epoch 105/200
 - 0s - loss: 0.0015 - acc: 0.5109 - val_loss: 0.0014 - val_acc: 0.5862
Epoch 106/200
 - 0s - loss: 0.0016 - acc: 0.5478 - val_loss: 0.0013 - val_acc: 0.5431
Epoch 107/200
 - 0s - loss: 0.0015 - acc: 0.5283 - val_loss: 0.0013 - val_acc: 0.5776
Epoch 108/200
 - 0s - loss: 0.0015 - acc: 0.5391 - val_loss: 0.0013 - val_acc: 0.5603
Epoch 109/200
 - 0s - loss: 0.0015 - acc: 0.5239 - val_loss: 0.0013 - val_acc: 0.5862
Epoch 110/200
 - 0s - loss: 0.0015 - acc: 0.5174 - val_loss: 0.0013 - val_acc: 0.5776
Epoch 111/200
 - 0s - loss: 0.0015 - acc: 0.5500 - val_loss: 0.0013 - val_acc: 0.5431
Epoch 112/200
 - 0s - loss: 0.0015 - acc: 0.5370 - val_loss: 0.0013 - val_acc: 0.5517
Epoch 113/200
 - 0s - loss: 0.0015 - acc: 0.5478 - val_loss: 0.0013 - val_acc: 0.5690
Epoch 114/200
 - 0s - loss: 0.0015 - acc: 0.5348 - val_loss: 0.0013 - val_acc: 0.5431
Epoch 115/200
 - 0s - loss: 0.0014 - acc: 0.5457 - val_loss: 0.0013 - val_acc: 0.5517
Epoch 116/200
 - 0s - loss: 0.0015 - acc: 0.5348 - val_loss: 0.0013 - val_acc: 0.5690
Epoch 117/200
 - 0s - loss: 0.0014 - acc: 0.5500 - val_loss: 0.0012 - val_acc: 0.5603
Epoch 118/200
 - 0s - loss: 0.0015 - acc: 0.5630 - val_loss: 0.0012 - val_acc: 0.5776
Epoch 119/200
 - 0s - loss: 0.0014 - acc: 0.5609 - val_loss: 0.0012 - val_acc: 0.5862
Epoch 120/200
 - 0s - loss: 0.0014 - acc: 0.5652 - val_loss: 0.0012 - val_acc: 0.5776
Epoch 121/200
 - 0s - loss: 0.0014 - acc: 0.5391 - val_loss: 0.0012 - val_acc: 0.5776
Epoch 122/200
 - 0s - loss: 0.0014 - acc: 0.5435 - val_loss: 0.0012 - val_acc: 0.6121
Epoch 123/200
 - 0s - loss: 0.0015 - acc: 0.5370 - val_loss: 0.0013 - val_acc: 0.5776
Epoch 124/200
 - 0s - loss: 0.0014 - acc: 0.5609 - val_loss: 0.0012 - val_acc: 0.5948
Epoch 125/200
 - 0s - loss: 0.0014 - acc: 0.5500 - val_loss: 0.0012 - val_acc: 0.5776
Epoch 126/200
 - 0s - loss: 0.0014 - acc: 0.5543 - val_loss: 0.0012 - val_acc: 0.5948
Epoch 127/200
 - 0s - loss: 0.0014 - acc: 0.5543 - val_loss: 0.0012 - val_acc: 0.5517
Epoch 128/200
 - 0s - loss: 0.0014 - acc: 0.5413 - val_loss: 0.0012 - val_acc: 0.5776
Epoch 129/200
 - 0s - loss: 0.0014 - acc: 0.5457 - val_loss: 0.0012 - val_acc: 0.5776
Epoch 130/200
 - 0s - loss: 0.0014 - acc: 0.5500 - val_loss: 0.0012 - val_acc: 0.5690
Epoch 131/200
 - 0s - loss: 0.0014 - acc: 0.5391 - val_loss: 0.0012 - val_acc: 0.5948
Epoch 132/200
 - 0s - loss: 0.0014 - acc: 0.5522 - val_loss: 0.0013 - val_acc: 0.5776
Epoch 133/200
 - 0s - loss: 0.0014 - acc: 0.5478 - val_loss: 0.0011 - val_acc: 0.5776
Epoch 134/200
 - 0s - loss: 0.0014 - acc: 0.5543 - val_loss: 0.0012 - val_acc: 0.5776
Epoch 135/200
 - 0s - loss: 0.0014 - acc: 0.5543 - val_loss: 0.0012 - val_acc: 0.5948
Epoch 136/200
 - 0s - loss: 0.0014 - acc: 0.5413 - val_loss: 0.0011 - val_acc: 0.5690
Epoch 137/200
 - 0s - loss: 0.0013 - acc: 0.5500 - val_loss: 0.0011 - val_acc: 0.5776
Epoch 138/200
 - 0s - loss: 0.0013 - acc: 0.5435 - val_loss: 0.0011 - val_acc: 0.5776
Epoch 139/200
 - 0s - loss: 0.0013 - acc: 0.5391 - val_loss: 0.0012 - val_acc: 0.5776
Epoch 140/200
 - 0s - loss: 0.0013 - acc: 0.5478 - val_loss: 0.0011 - val_acc: 0.5862
Epoch 141/200
 - 0s - loss: 0.0013 - acc: 0.5457 - val_loss: 0.0011 - val_acc: 0.5776
Epoch 142/200
 - 0s - loss: 0.0014 - acc: 0.5391 - val_loss: 0.0011 - val_acc: 0.5690
Epoch 143/200
 - 0s - loss: 0.0013 - acc: 0.5565 - val_loss: 0.0011 - val_acc: 0.5776
Epoch 144/200
 - 0s - loss: 0.0013 - acc: 0.5457 - val_loss: 0.0011 - val_acc: 0.5862
Epoch 145/200
 - 0s - loss: 0.0013 - acc: 0.5435 - val_loss: 0.0011 - val_acc: 0.5690
Epoch 146/200
 - 0s - loss: 0.0013 - acc: 0.5478 - val_loss: 0.0011 - val_acc: 0.5948
Epoch 147/200
 - 0s - loss: 0.0013 - acc: 0.5457 - val_loss: 0.0012 - val_acc: 0.5862
Epoch 148/200
 - 0s - loss: 0.0014 - acc: 0.5500 - val_loss: 0.0011 - val_acc: 0.5603
Epoch 149/200
 - 0s - loss: 0.0013 - acc: 0.5413 - val_loss: 0.0011 - val_acc: 0.5776
Epoch 150/200
 - 0s - loss: 0.0013 - acc: 0.5457 - val_loss: 0.0011 - val_acc: 0.5948
Epoch 151/200
 - 0s - loss: 0.0013 - acc: 0.5435 - val_loss: 0.0011 - val_acc: 0.5776
Epoch 152/200
 - 0s - loss: 0.0013 - acc: 0.5457 - val_loss: 0.0011 - val_acc: 0.5862
Epoch 153/200
 - 0s - loss: 0.0013 - acc: 0.5478 - val_loss: 0.0011 - val_acc: 0.5690
Epoch 154/200
 - 0s - loss: 0.0013 - acc: 0.5413 - val_loss: 0.0011 - val_acc: 0.5862
Epoch 155/200
 - 0s - loss: 0.0013 - acc: 0.5478 - val_loss: 0.0010 - val_acc: 0.5776
Epoch 156/200
 - 0s - loss: 0.0013 - acc: 0.5543 - val_loss: 0.0011 - val_acc: 0.5517
Epoch 157/200
 - 0s - loss: 0.0013 - acc: 0.5435 - val_loss: 0.0010 - val_acc: 0.5948
Epoch 158/200
 - 0s - loss: 0.0013 - acc: 0.5370 - val_loss: 0.0011 - val_acc: 0.5776
Epoch 159/200
 - 0s - loss: 0.0013 - acc: 0.5500 - val_loss: 0.0011 - val_acc: 0.5862
Epoch 160/200
 - 0s - loss: 0.0013 - acc: 0.5457 - val_loss: 0.0011 - val_acc: 0.5948
Epoch 161/200
 - 0s - loss: 0.0012 - acc: 0.5478 - val_loss: 0.0010 - val_acc: 0.5776
Epoch 162/200
 - 0s - loss: 0.0012 - acc: 0.5413 - val_loss: 0.0011 - val_acc: 0.5776
Epoch 163/200
 - 0s - loss: 0.0013 - acc: 0.5435 - val_loss: 0.0010 - val_acc: 0.5776
Epoch 164/200
 - 0s - loss: 0.0012 - acc: 0.5478 - val_loss: 0.0010 - val_acc: 0.5776
Epoch 165/200
 - 0s - loss: 0.0012 - acc: 0.5457 - val_loss: 0.0010 - val_acc: 0.5776
Epoch 166/200
 - 0s - loss: 0.0013 - acc: 0.5500 - val_loss: 0.0011 - val_acc: 0.5862
Epoch 167/200
 - 0s - loss: 0.0013 - acc: 0.5457 - val_loss: 0.0010 - val_acc: 0.5862
Epoch 168/200
 - 0s - loss: 0.0012 - acc: 0.5413 - val_loss: 0.0010 - val_acc: 0.5862
Epoch 169/200
 - 0s - loss: 0.0012 - acc: 0.5500 - val_loss: 0.0010 - val_acc: 0.5776
Epoch 170/200
 - 0s - loss: 0.0012 - acc: 0.5435 - val_loss: 0.0010 - val_acc: 0.5431
Epoch 171/200
 - 0s - loss: 0.0012 - acc: 0.5413 - val_loss: 9.9109e-04 - val_acc: 0.5776
Epoch 172/200
 - 0s - loss: 0.0012 - acc: 0.5478 - val_loss: 9.9702e-04 - val_acc: 0.5948
Epoch 173/200
 - 0s - loss: 0.0012 - acc: 0.5478 - val_loss: 9.7881e-04 - val_acc: 0.5776
Epoch 174/200
 - 0s - loss: 0.0012 - acc: 0.5413 - val_loss: 0.0010 - val_acc: 0.5948
Epoch 175/200
 - 0s - loss: 0.0012 - acc: 0.5348 - val_loss: 9.7243e-04 - val_acc: 0.5948
Epoch 176/200
 - 0s - loss: 0.0012 - acc: 0.5478 - val_loss: 9.9292e-04 - val_acc: 0.5776
Epoch 177/200
 - 0s - loss: 0.0012 - acc: 0.5348 - val_loss: 0.0010 - val_acc: 0.6034
Epoch 178/200
 - 0s - loss: 0.0012 - acc: 0.5565 - val_loss: 9.7481e-04 - val_acc: 0.5690
Epoch 179/200
 - 0s - loss: 0.0012 - acc: 0.5457 - val_loss: 9.9520e-04 - val_acc: 0.5776
Epoch 180/200
 - 0s - loss: 0.0012 - acc: 0.5478 - val_loss: 9.5907e-04 - val_acc: 0.5948
Epoch 181/200
 - 0s - loss: 0.0012 - acc: 0.5435 - val_loss: 9.9716e-04 - val_acc: 0.5690
Epoch 182/200
 - 0s - loss: 0.0012 - acc: 0.5435 - val_loss: 9.5376e-04 - val_acc: 0.5776
Epoch 183/200
 - 0s - loss: 0.0012 - acc: 0.5478 - val_loss: 9.5956e-04 - val_acc: 0.5776
Epoch 184/200
 - 0s - loss: 0.0012 - acc: 0.5435 - val_loss: 9.8347e-04 - val_acc: 0.5776
Epoch 185/200
 - 0s - loss: 0.0012 - acc: 0.5500 - val_loss: 9.7294e-04 - val_acc: 0.5862
Epoch 186/200
 - 0s - loss: 0.0012 - acc: 0.5478 - val_loss: 9.6784e-04 - val_acc: 0.5776
Epoch 187/200
 - 0s - loss: 0.0012 - acc: 0.5500 - val_loss: 9.7535e-04 - val_acc: 0.5862
Epoch 188/200
 - 0s - loss: 0.0012 - acc: 0.5478 - val_loss: 9.3983e-04 - val_acc: 0.5776
Epoch 189/200
 - 0s - loss: 0.0012 - acc: 0.5478 - val_loss: 9.5655e-04 - val_acc: 0.5776
Epoch 190/200
 - 0s - loss: 0.0012 - acc: 0.5370 - val_loss: 9.4756e-04 - val_acc: 0.5776
Epoch 191/200
 - 0s - loss: 0.0012 - acc: 0.5391 - val_loss: 9.4804e-04 - val_acc: 0.5862

Epoch 192/200
 - 0s - loss: 0.0012 - acc: 0.5435 - val_loss: 9.4861e-04 - val_acc: 0.5776
Epoch 193/200
 - 0s - loss: 0.0012 - acc: 0.5457 - val_loss: 9.7545e-04 - val_acc: 0.5862
Epoch 194/200
 - 0s - loss: 0.0012 - acc: 0.5522 - val_loss: 9.4136e-04 - val_acc: 0.5776
Epoch 195/200
 - 0s - loss: 0.0012 - acc: 0.5457 - val_loss: 9.3458e-04 - val_acc: 0.5948
Epoch 196/200
 - 0s - loss: 0.0012 - acc: 0.5522 - val_loss: 9.3677e-04 - val_acc: 0.5776
Epoch 197/200
 - 0s - loss: 0.0012 - acc: 0.5522 - val_loss: 9.6946e-04 - val_acc: 0.5948
Epoch 198/200
 - 0s - loss: 0.0012 - acc: 0.5435 - val_loss: 9.5180e-04 - val_acc: 0.6034
Epoch 199/200
 - 0s - loss: 0.0012 - acc: 0.5543 - val_loss: 9.3858e-04 - val_acc: 0.5862
Epoch 200/200
 - 0s - loss: 0.0012 - acc: 0.5348 - val_loss: 9.4864e-04 - val_acc: 0.5776

In [48]:
X_train.head()

,15_전압,16_전류,17_전압,18_전류,19_전압,20_전류,21_전압,22_전류,23_전압,24_전류,...,73_전압,74_전류,75_전압,76_전류,77_전압,78_전류,79_전압,80_전류,81_전압,82_전류
437,0.917707,0.366565,0.920654,0.371191,0.904629,0.373137,0.901281,0.373188,0.935911,0.0,...,0.917931,0.365833,0.920599,0.366514,0.936390,0.368168,0.931642,0.368941,0.933742,0.369421
63,0.937070,0.682749,0.946369,0.694707,0.929161,0.709860,0.930542,0.697872,0.994030,0.0,...,0.958783,0.656521,0.955947,0.684544,0.961647,0.684808,0.956155,0.692570,0.959028,0.695860
208,0.007271,0.000000,0.007234,0.000000,0.007361,0.000000,0.007421,0.000000,0.026063,0.0,...,0.008263,0.000000,0.007869,0.000000,0.010690,0.000000,0.010557,0.000000,0.010505,0.000000
60,0.915789,0.853317,0.927629,0.858094,0.933146,0.838511,0.937743,0.815907,0.981410,0.0,...,0.918938,0.822618,0.917712,0.807209,0.959515,0.763969,0.955196,0.775338,0.959341,0.767812
15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.020988,0.0,...,0.012985,0.000000,0.012822,0.000000,0.018527,0.000000,0.018516,0.000000,0.018262,0.000000

### 오토인코더 X_test의 복원값 구하기

    X_train 데이터만으로 오토인코더 모델이 fit 됐음
    X_test값으로 복원값 추출 : predictions

In [31]:
predictions = autoencoder.predict(X_test)
predictions

array([[9.15734112e-01, 6.35331273e-01, 9.24182713e-01, ...,
        5.88466346e-01, 9.16164577e-01, 5.80175579e-01],
       [1.04257092e-02, 2.63936108e-05, 1.10738734e-02, ...,
        8.72934761e-05, 1.27055300e-02, 1.07016574e-04],
       [9.36893284e-01, 2.06678316e-01, 9.39683139e-01, ...,
        1.66888699e-01, 9.31865752e-01, 1.67304158e-01],
       ...,
       [8.81187797e-01, 8.90844524e-01, 8.98131967e-01, ...,
        8.78587067e-01, 8.89702499e-01, 8.71592581e-01],
       [4.05127183e-03, 1.22242745e-05, 4.41529369e-03, ...,
        4.85325872e-05, 5.32050850e-03, 6.15910758e-05],
       [9.33403075e-01, 3.04524034e-01, 9.37319160e-01, ...,
        2.54075080e-01, 9.29562688e-01, 2.52801865e-01]], dtype=float32)

### test 복원값 DF : df_prediction

In [32]:
df_prediction = pd.DataFrame(predictions, columns=X_test.columns) # X_test의 prediction 값임
df_prediction.head()

,15_전압,16_전류,17_전압,18_전류,19_전압,20_전류,21_전압,22_전류,23_전압,24_전류,...,73_전압,74_전류,75_전압,76_전류,77_전압,78_전류,79_전압,80_전류,81_전압,82_전류
0,0.915734,0.635331,0.924183,0.624214,0.914622,0.633812,0.916353,0.597306,0.953989,0.000488,...,0.921189,0.591423,0.918178,0.600345,0.918863,0.585941,0.912706,0.588466,0.916165,0.580176
1,0.010426,0.000026,0.011074,0.000072,0.011035,0.000036,0.011465,0.000082,0.036142,0.000315,...,0.011124,0.000065,0.011005,0.000092,0.013066,0.000126,0.012303,0.000087,0.012706,0.000107
2,0.936893,0.206678,0.939683,0.189276,0.932866,0.212676,0.931927,0.165199,0.946716,0.000185,...,0.935796,0.161737,0.933481,0.166327,0.934301,0.165617,0.928599,0.166889,0.931866,0.167304
3,0.005469,0.000016,0.005911,0.000047,0.005860,0.000021,0.006159,0.000055,0.022851,0.000337,...,0.006054,0.000043,0.005989,0.000063,0.007233,0.000086,0.006724,0.000058,0.007014,0.000073
4,0.004791,0.000014,0.005197,0.000043,0.005146,0.000019,0.005422,0.000051,0.020799,0.000341,...,0.005344,0.000040,0.005287,0.000058,0.006406,0.000080,0.005939,0.000054,0.006209,0.000068

### test 원래 값

In [33]:
X_test.head()

,15_전압,16_전류,17_전압,18_전류,19_전압,20_전류,21_전압,22_전류,23_전압,24_전류,...,73_전압,74_전류,75_전압,76_전류,77_전압,78_전류,79_전압,80_전류,81_전압,82_전류
234,0.915489,0.609030,0.917651,0.612972,0.909722,0.613113,0.905349,0.610211,0.948883,0.0,...,0.913421,0.602099,0.911665,0.615160,0.921635,0.618066,0.917662,0.621896,0.918492,0.612700
118,0.009793,0.000000,0.009576,0.000000,0.009929,0.000000,0.009817,0.000000,0.033730,0.0,...,0.010612,0.000000,0.010309,0.000000,0.013109,0.000000,0.013113,0.000000,0.013006,0.000000
346,0.919766,0.162623,0.915362,0.161479,0.923347,0.161103,0.919401,0.170988,0.934668,0.0,...,0.934883,0.158591,0.929982,0.172103,0.938372,0.176089,0.933869,0.180333,0.938276,0.180653
498,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.025255,0.0,...,0.000000,0.000000,0.000000,0.000000,0.011218,0.000000,0.011152,0.000000,0.011098,0.000000
402,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.013091,0.0,...,0.000000,0.000000,0.000000,0.000000,0.007530,0.000000,0.007531,0.000000,0.007436,0.000000

### test 원래값 : index 맞추기

In [34]:
X_test_reset = X_test.values

In [35]:
X_test_reset_df = pd.DataFrame(X_test_reset, columns=X_test.columns)

In [36]:
X_test_reset_df.head(10)

,15_전압,16_전류,17_전압,18_전류,19_전압,20_전류,21_전압,22_전류,23_전압,24_전류,...,73_전압,74_전류,75_전압,76_전류,77_전압,78_전류,79_전압,80_전류,81_전압,82_전류
0,0.915489,0.609030,0.917651,0.612972,0.909722,0.613113,0.905349,0.610211,0.948883,0.0,...,0.913421,0.602099,0.911665,0.615160,0.921635,0.618066,0.917662,0.621896,0.918492,0.612700
1,0.009793,0.000000,0.009576,0.000000,0.009929,0.000000,0.009817,0.000000,0.033730,0.0,...,0.010612,0.000000,0.010309,0.000000,0.013109,0.000000,0.013113,0.000000,0.013006,0.000000
2,0.919766,0.162623,0.915362,0.161479,0.923347,0.161103,0.919401,0.170988,0.934668,0.0,...,0.934883,0.158591,0.929982,0.172103,0.938372,0.176089,0.933869,0.180333,0.938276,0.180653
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.025255,0.0,...,0.000000,0.000000,0.000000,0.000000,0.011218,0.000000,0.011152,0.000000,0.011098,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.013091,0.0,...,0.000000,0.000000,0.000000,0.000000,0.007530,0.000000,0.007531,0.000000,0.007436,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.016299,0.0,...,0.007601,0.000000,0.007188,0.000000,0.011107,0.000000,0.011132,0.000000,0.011017,0.000000
6,0.889166,0.469346,0.897592,0.462098,0.885931,0.470195,0.885826,0.462948,0.926876,0.0,...,0.888456,0.453709,0.885113,0.455979,0.894059,0.457124,0.889168,0.459573,0.892402,0.464160
7,0.773746,0.000000,0.764800,0.000000,0.815537,0.000000,0.812625,0.000000,0.857076,0.0,...,0.768096,0.000000,0.767541,0.000000,0.825803,0.000000,0.823299,0.000000,0.822556,0.000000
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.026506,0.0,...,0.000000,0.000000,0.000000,0.000000,0.010315,0.000000,0.010288,0.000000,0.010269,0.000000
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.014646,0.0,...,0.008299,0.000000,0.008010,0.000000,0.011647,0.000000,0.011660,0.000000,0.011517,0.000000

In [37]:
len(X_test_reset_df), len(df_prediction)

(116, 116)

In [38]:
X_test_reset_df['15_전압'][0] - df_prediction['15_전압'][0]

-0.0002446378109403069

In [39]:
df.head(1)

,1_일사량,2_외기온도,3_모듈온도,4_총 전력(AC),5_DC전압,6_DC전류,7_DC전력,8_R상 전압,9_S상 전압,10_T상 전압,...,73_전압,74_전류,75_전압,76_전류,77_전압,78_전류,79_전압,80_전류,81_전압,82_전류
0,0.0,0.21308,0.198843,0.0,0.00574,0.0,0.0,0.491887,0.59511,0.461927,...,0.0,0.0,0.0,0.0,0.008478,0.0,0.008426,0.0,0.008351,0.0

### ★(업로드) 컬럼 루프 돌리기

    1. ((이상치 - 원래값)^2
    2. 아. |이상치-원래값| 구해보자 (abs함수 활용)  --- 이건 scale하기 전 raw 값으로 해야 의미가 있지.

In [49]:
# 차이 = (np.power((X_test_reset_df['15_전압'] - df_prediction['15_전압']), 2)) 
# 차이.sort_values(ascending=False)[0:20]

In [50]:
X_test_reset_df.head()

,15_전압,16_전류,17_전압,18_전류,19_전압,20_전류,21_전압,22_전류,23_전압,24_전류,...,73_전압,74_전류,75_전압,76_전류,77_전압,78_전류,79_전압,80_전류,81_전압,82_전류
0,0.915489,0.609030,0.917651,0.612972,0.909722,0.613113,0.905349,0.610211,0.948883,0.0,...,0.913421,0.602099,0.911665,0.615160,0.921635,0.618066,0.917662,0.621896,0.918492,0.612700
1,0.009793,0.000000,0.009576,0.000000,0.009929,0.000000,0.009817,0.000000,0.033730,0.0,...,0.010612,0.000000,0.010309,0.000000,0.013109,0.000000,0.013113,0.000000,0.013006,0.000000
2,0.919766,0.162623,0.915362,0.161479,0.923347,0.161103,0.919401,0.170988,0.934668,0.0,...,0.934883,0.158591,0.929982,0.172103,0.938372,0.176089,0.933869,0.180333,0.938276,0.180653
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.025255,0.0,...,0.000000,0.000000,0.000000,0.000000,0.011218,0.000000,0.011152,0.000000,0.011098,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.013091,0.0,...,0.000000,0.000000,0.000000,0.000000,0.007530,0.000000,0.007531,0.000000,0.007436,0.000000

In [42]:
#MSE(Mean Squeare Error) = 평균제곱오차 / 직접 구현한 코드네.
##오차제곱평균이 더 직관적으로 와닿네

#np.power(x1, x2) :x1= 밑, x2=지수
#차이가 음수가 될 수 있으니 제곱을 해준 것이다.
#그값을 평균을 낸다.

### ((이상치 - 원래값)^2

    -- 오름차순 정렬
    -- 상위 5개 값 평균
    -- return 값을 리스트에 담고, DF로 다시 만들기

In [43]:
result_list =[]
for i in range(58):
    mse = np.power((X_test_reset_df[X_test_reset_df.columns[i]] - df_prediction[df_prediction.columns[i]]),2)
    mean_mse = mse.sort_values(ascending=False)[0:5].mean()


    result_list.append(mean_mse)
    
    
result_list_df = pd.DataFrame(result_list)

In [44]:
result_list_df.head()

          0
0  0.009361
1  0.008878
2  0.009912
3  0.003799
4  0.006041

### 각 패널의 이상치 상위 5개값 평균 - 오름차순 정렬

해보니 55, 57, 53, 패널이 조금 높고, 나머지는 비슷하다.

55, 57, 53 패널의 이상치(상위 5개값 평균)가 가장 높게 나옴

샘플 수가 너무 적어서..사실상 학습도 잘 안됐음

In [45]:
result_list_df.sort_values(by=0, ascending=False).head()

           0
57  0.057894
55  0.056608
53  0.043258
31  0.029896
35  0.016530

In [46]:
len(result_list_df)

58

In [47]:
result_list_df.head()

          0
0  0.009361
1  0.008878
2  0.009912
3  0.003799
4  0.006041